<main class="container-md pt-lg-3 pt-sm-1">
    <section class="row p-2">
        <div class="content col-lg-6 col-md-6 col-sm-6 col-12 section-container">  
            <div class="form-container">
                <h4 class="section-title text-light fw-bold fs-3 text-center">Welcome, Choose an Option</h4>
                <div class="option-grid row">
                    <a routerLink="/parkingSummary" class="option">
                        <img class="home-icons" src="assets/Home/parkingInfo.png" alt="Parking_Info">
                        <p>Get Parking Floor Summary</p>
                    </a>
                    <a routerLink="/parkingDetails" class="option">
                        <img class="home-icons" src="assets/Home/parking.png" alt="Parking">
                        <p>Park Vehicle</p>
                    </a>
                    <a routerLink="/unparkVehicle" class="option">
                        <img class="home-icons" src="assets/Home/unparking.png" alt="Unparking">
                        <p>Unpark Vehicle</p>
                    </a>
                    <a routerLink="/parkVehicle" class="option">
                        <img class="home-icons" src="assets/Home/info.png" alt="Parking_Info">
                        <p>Rules and Information</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="logo col-lg-6 col-md-6 col-sm-6 col-12 p-5">
            <img src="assets/Home/parking_bg_2.jpg" class="img-fluid" alt="">
        </div>
    </section>
</main>