<main class="container-md pb-3">
    <section>
        <h4 class="title-heading">Application Rules</h4>
        <div class="list">
            <ol>
                <li>Pakring reciept wll be sent to you in your mobile number, so not share it with anyone.</li>
                <li>Also don't forget to put different password everytime.</li>
                <li>There is no any way to bypass your password</li>
                <li>You can not recover you own Pin. So, memorize it very well.</li>
                <li>You can not unpark your vehicle if you dont have <b>password</b> or <b>parking id.</b></li>
                <li>If you don't have any official RTO document you will be unable to unpark your vehicle.</li>
                <li>You need to contact with the parking manager in case you have lost your vehicle reciept or other stuff.</li>
            </ol>
        </div>
    </section>
    <section>
        <h4 class="title-heading">Parking Rules</h4>
        <div class="list">
            <ol>
                <li>You cannot abandon or park your vehicle or trailer at any public place in a position that causes
                    obstruction or inconvenience, or poses danger to other people.</li>
                <li>If there are any road signs or markings indicating the manner of parking, your vehicle should be
                    parked accordingly.</li>
                <li>On the wrong side of the road</li>
                <li>On roads with a white unbroken line in the centre</li>
                <li>In front of a gate or blocking the entrance to any premises</li>
                <li>Near a bus stop, school, hospital entrance</li>
                <li>Near any road sign if your vehicle obstructs the view of the sign</li>
                <li>Near a road crossing, a bend, at the top of a hill, or near and on a bridge.</li>
                <li>Near a traffic signal or a pedestrian crossing</li>
            </ol>
        </div>
    </section>
</main>