section{
    height: 100%;
    overflow-x: hidden;
}
.section-container{
    width: 80%;
    margin: 0 auto;
}
.data-table{
    padding: 0.5rem 0.75rem;
    background-color: rgba(0,0,0,0.5);
    border-radius: 8px;
}
.table-body-data, .table-header{
    margin: 0.25rem 0;
    border-radius: 5px;
}
.bg-custom-success{
    background-color: rgb(129, 241, 121);
}
.bg-custom-danger{
    background-color: rgb(222, 158, 146);
}