<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold fs-3" href="#">Automated Parking</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMakrup"
            aria-controls="navbarMakrup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMakrup">
            <div class="navbar-nav">
                <a class="nav-link fw-bold" routerLink="">Home</a>
                <a class="nav-link fw-bold" href="#">About</a>
                <a class="nav-link fw-bold" routerLink="admin">Admin</a>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid data-container p-0">
    <router-outlet></router-outlet>
</div>