.form-side{
    border-radius: 12px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.25);
    padding: 1rem;
}
.from-input-divs{
    display: flex;
    margin: 1.5rem 0.5rem;
    flex-direction: column;
}
.input-labels{
    margin-bottom: 0.5rem 0;
}
.input-elements{
    margin: 0.5rem 1rem;
    padding: 0.25rem;
    border: 0;
    border-bottom: 2px solid gray;
}
.input-elements:focus{
    outline: none;
    border: 2px solid rgb(194, 194, 194);
    border-radius: 10px;
}